/.idea




/Experiment1/Logs
/Experiment1/Report/report.aux
/Experiment1/Report/report.log
/Experiment1/Report/report.synctex.gz
/Experiment1/Report/report.toc
/Experiment1/Code/dataset/MNIST/raw/





/Experiment2/Logs
/Experiment2/Caltech101
/Experiment2/Code/__pycache__
/Experiment2/Models








