/.idea
/Experiment1/__pycache__
/Experiment1/logs
/Experiment1/report
/Experiment1/dataset/MNIST/raw/
!/Experiment1/report/acc.png
!/Experiment1/report/loss.png
!/Experiment1/report/report.tex
!/Experiment1/report/report.pdf








